.header{
	position: relative;
	width: 1000px;
	margin: 100px;
}

	h1{
		position: absolute;
		top:10px;
		left: 100px;
		font-size: 40px;
		font-family: "Palatino Linotype";
		text-shadow: 1px 1px 1px black;
		margin: 0px;
	}

	h2{
		position: absolute;
		margin: 0px;
		font-size: 20px;
		font-family: "Palatino Linotype";
	}

	.bio{
		position: absolute;
		width:1000px;
		background-color: maroon;
		top: 300px;
		left: 100px;
	}

			.photos{
				position: relative;
				width: 1000px;
			}

				.diversity,.suntrust,.funeral{
					position: absolute;
					float: right;
					width: 200px;
				}
					.diversity{
						left: 100px;
					}

					.funeral{
						left; 300px;
}
