h1{
	text-align: center;
	margin: 100px 0px 50px 0px;
	font-weight: 200px;
	font-size: 100px;
	font-family: "Palatino Linotype";
	text-shadow: 1px 1px 1px black;
	}

h2{
		text-align: center;
		margin: 50px 0px 50px 0px;
		font-size: 20px;
		font-weight: 10px;
		font-family: "Palatino Linotype";
	}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header{
	float: right;
}

	.bio{
		width:1000px;
		margin-left: 90px;
		font-family: "Palatino Linotype"
	}

.h4{
	margin-left: 90px;
}
			.photos{
				position: relative;
				width: 1000px;
				margin-left: 150px;
			}

				.yikyak,.att,.diversity,.suntrust,.funeral,.bob,.taylor,.big,.hero{
					position: absolute;
					float: right;
					width: 200px;
				}
					.suntrust{
						left: 440px;
					}

					.funeral{
						left: 875px;
					}

					.bob{
						top: 330px;
					}

					.big{
						top: 330px;
						left: 440px;
					}

/*					.tr{
						top: 330px;
						left: 875px;
					}
*/
					
					.taylor{
						top: 660px;
						left: 875px;
					}

					.yikyak{
						top: 660px;

					}

					.hero{
						top: 330px;
						left: 875px;
					}

					.att{
						top: 660px;
						left: 440px;
					}