.bio{
	position: relative;
	width: 1000px;
	margin: 50px;
}

body{
	width: 1000px
}

.box{
	float: left;
	width: 600px;
	font-family: "Palatino Linotype";
	font-size: 15px;
}

img.box{
	width: 200px;
	padding-top: 9px;
	padding-right: 15px;

}

h1{
	top:10px;
	left: 100px;
	margin: 10px, 100px;
	font-family: "Palatino Linotype";
	text-shadow: 1px 1px 1px black;

}




}